<h1>Bonjour ! Bienvenu sur Undercover</h1>

<p>
    Pour terminer votrte inscription merci de cliquer sur le lien ci dessous <br><br>
    <a href="{{ signedUrl }}">Confirm my Email</a>.
    <br>
    Attention ce lien n'est valable qu'une heure.
</p>

<p>
    A très vite pour de belles parties sur Undercover <!DOCTYPE html>
</p>

<p>
La Team Undercover.
</p>
